#home {
  padding: 2rem;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 83.75rem;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

#tests {
  text-align: center;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}
/* 
#tests #ishihara-test {
  
}

#tests #hue-test {
  
} */