html, body {
  height: 100%;
  border: 1px solid red;
}

.App {
  text-align: center;
}

body {
 font-family: calibri;
}

input[type=button] {
    display:inline-block;
    margin: 5px;
    padding: 4px 12px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 30px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  }

   input[type=button]:active {
    background-image: none;
    outline: 0;
    background-color:#e0e0e0;
  }

.options {
  list-style: none;
  -moz-column-count: 3;
  -moz-column-gap: 5%;
  -webkit-column-count: 3;
  -webkit-column-gap: 5%;
  column-count: 3;
  column-gap: 5%;
  padding: 0px;
}

.answer-form {
  width: 200px;
  margin: auto;
}

.fb-share {
  width: 80px;
}

#quiz-layout {
  /*display: flex;*/
}

#numpad {
  width: 40%;
  align-items: center;
  vertical-align: middle;
}

#plate {
  /*flex: 1;*/

}

#root {
  width: 80%;
  margin: 0 auto;
  /*max-width: 960px;*/
  border: 1px solid green;
  height: 100%;
}

.homepage-image {
  width: 100%;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    canvas.plates {
  /*width: 100%;*/
  height: 250px;
}
}







